//fonts
$main-font: 'roboto-regular';
$title-font: 'roboto-bold';

//sizes
$container-width: 136.6rem;

//colors
$white-2: #fafafa; 
$lime: #82af00;
$gray-1: #f0f0f0;
$gray-2: #f5f5f5;
$gray-3: #4c4c4c;

$blue-1: #0085be;
$blue-2: #002abe;
$blue-3: #02597e;