@import './../../common-styles/vars.scss';

.btn {
    display: block;
    padding: 1.6rem 3.9rem;
    border-radius: 6px;
    background-color: $blue-1;
    border: none;
    font-size: 1.4rem;
    font-family: $title-font;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: all 0.4s;

    &:hover {
        background-color: $blue-3;
    }

    &:active {
        background-color: $blue-2;
    }

    &:disabled {
        opacity: 0.2;
        background-color: transparent;
        border: solid 2px $gray-3;
        color: $gray-3;
    }
}