@import './../../common-styles/vars.scss';

.page {
    position: relative;
    display: block;
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    background-color: #fff;
    min-height: 100vh;

    &__container {
        width: $container-width;
        margin: 0 auto;
    }
}